<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty: <input type="text" name="pirate[ships][][booty]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty: <input type="text" name="pirate[ships][][booty]">
</form>
